@model Statement.ViewModel.StatementViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div style="margin-top: 25px; margin-bottom: 25px">
    <a asp-action="Create" type="button" class="btn btn-primary">Create New</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                ПІБ
            </th>
            <th>
                Посада
            </th>
            <th>
                Дата початку
            </th>
            <th>
                Дата завершення
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.Statements)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserNameGenitiveCase) @Html.DisplayFor(modelItem => item.UserSurNameGenitiveCase) @Html.DisplayFor(modelItem => item.UserLastNameGenitiveCase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionAtTheMainPlaceOfWork) @Html.DisplayFor(modelItem => item.SubdivisionAtTheMainPlaceOfWork)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBusinessTrip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfСompletionBusinessTrip)
                </td>

                <td>
                    @Html.ActionLink("Скачати", "PDFDownload", new { id = item.StatementId })
                </td>
                
            </tr>
        }
    </tbody>
</table>
