@model Statement.ViewModel.StatementViewModel

@{
    ViewData["Title"] = "Statements";
}

<h1>Statements</h1>

<p>
    <a asp-action="Create">Подати заяву</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.Statements.UserNameGenitiveCase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserSurNameGenitiveCase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLastNameGenitiveCase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionAtTheMainPlaceOfWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurposeOfBusinessTrip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatementPlaceOfDestination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBusinessTrip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfСompletionBusinessTrip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasisOfBusinessTrip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileData)
        </th>*@
            <th>
                ПІБ
            </th>
            <th>
                Посада
            </th>
            <th>
                Дата початку
            </th>
            <th>
                Дата завершення
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

    </thead>
    <tbody>
@foreach (var item in Model.Statements) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserNameGenitiveCase) @Html.DisplayFor(modelItem => item.UserSurNameGenitiveCase) @Html.DisplayFor(modelItem => item.UserLastNameGenitiveCase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionAtTheMainPlaceOfWork) @Html.DisplayFor(modelItem => item.SubdivisionAtTheMainPlaceOfWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBusinessTrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfСompletionBusinessTrip)
            </td>

            <td>
                @Html.ActionLink("Скачати", "PDFDownload", new { id = item.StatementId })
            </td>
            <td> 
            <a asp-action="Edit" asp-route-id="@item.StatementId">Редагувати</a> 
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.StatementId">Деталі</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.StatementId" onclick="return confirmation();">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    function confirmation() {
        if (confirm('Чи ви дійсно бажаєте видалити заяву?')) {
            return true;
        } else {
            return false;
        }
    }
</script>
