@model IEnumerable<Statement.ViewModel.StatementWithAllStatuses>

@{
    ViewData["Title"] = "Заяви";
}

<h1>Всі заяви</h1>

@*<p>
    <a asp-action="CreateStatement">Подати заяву</a>
</p>*@

<div>
    <a asp-action="StatementBetweenDates">Завантажити усі заяви</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                ПІБ
            </th>
            <th>
                Посада
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statement.DateOfBusinessTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statement.DateOfСompletionBusinessTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStatus.Status)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Statement.UserNameGenitiveCase) @Html.DisplayFor(modelItem => item.Statement.UserSurNameGenitiveCase) @Html.DisplayFor(modelItem => item.Statement.UserLastNameGenitiveCase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statement.PositionAtTheMainPlaceOfWork) @Html.DisplayFor(modelItem => item.Statement.SubdivisionAtTheMainPlaceOfWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statement.DateOfBusinessTrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statement.DateOfСompletionBusinessTrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStatus.Status.StatusName)
            </td>

            <td>
                @Html.ActionLink("Скачати", "PDFDownload", new { id = item.Statement.StatementId })
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Statement.StatementId">Редагувати</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Statement.StatementId">Деталі</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Statement.StatementId" onclick="return confirmation();">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    function confirmation() {
        if (confirm('Чи ви дійсно бажаєте видалити заяву?')) {
            return true;
        } else {
            return false;
        }
    }
</script>
